services:
  solr:
    build:
      context: ./solr
      dockerfile: Dockerfile
    container_name: cudl-solr
    ports:
      - 8983:8983
    environment:
      SOLR_JAVA_MEM: "-Xms1g -Xmx1g"
    volumes:
      - ./external-vol:/var/solr
